@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Add this to your CSS file */
.hovered-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

/* CSS for truncating the title to 2 lines */
.truncate-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* CSS for truncating the content to a fixed number of lines */
.truncate-content {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Change this number to adjust the number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
  transform: scale(1);
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.category-container:hover .category-title,
.category-container:hover .category-description,
.category-container:hover .category-link {
  color: white;
}
