.login {
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(218, 16, 205), rgb(255, 0, 0));
  display: flex;
  align-items: center;
}
.loginForm {
  min-height: 80vh;
  background-color: aliceblue;
  width: 40%;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
}
.loginForm .form div {
  width: 100%;
  margin: auto;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding: 1rem;
  width: 100%;
}
.form div input,
.form div .loginbtn {
  width: 80%;
  height: 2rem;
  margin: auto;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  outline: none;
  border: none;
}
.form div .loginbtn {
  background-color: blue;
  width: 80%;
  height: 2rem;
  color: white;
  margin: auto;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  cursor: pointer;
}
.sign-in-with-google {
  /* width: 80%; */
  display: flex;
  justify-content: center;
}
.sign-in-with-google button {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  grid-template-columns: 30% 70%;
  width: 80%;
  background-color: blue;
  color: white;
  height: 100%;
  border: none;
  outline: none;
}
.sign-in-with-google button .google-logo {
  background-color: white;
  color: green;
}
.signInError {
  color: red;
  text-align: center;
}
