.signUp {
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(218, 16, 205), rgb(255, 0, 0));
  display: flex;
  align-items: center;
}
.signUpForm {
  min-height: 80vh;
  background-color: aliceblue;
  width: 40%;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
}
.signUpForm .form div {
  width: 100%;
  margin: auto;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding: 1rem;
  width: 100%;
}
.form div input,
.form div .signupbtn {
  width: 80%;
  height: 2rem;
  margin: auto;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  outline: none;
  border: none;
}
.form div input {
  color: black;
}
.form div .signupbtn {
  background-color: blue;
  width: 80%;
  height: 2rem;
  color: white;
  margin: auto;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  cursor: pointer;
}
.signUpResponse {
  text-align: center;
}
.signupError {
  color: red;
  text-align: center;
}
